<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--<add name="doaConnString" connectionString="Provider=OraOLEDB.Oracle.1;Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.155.31.77)(PORT = 1521))) (CONNECT_DATA = (SERVICE_NAME = oradev)));User ID=doagstn;Password=doagstn1"/>-->
    <!--server string-->
    <add name="doaConnString" connectionString="Provider=OraOLEDB.Oracle;Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.155.0.13)(PORT = 1521))) (CONNECT_DATA = (SERVICE_NAME = MAS)));User ID=doagstn;Password=doagstn1; OLEDB.NET=True" />
  </connectionStrings>

  <appSettings>
    <add key="LogPath" value="C:/GSTN/Logs/" />
    <!--<add key="LogPath" value="C:/GSTN_Treasury/Logs/"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>